name: glpi

services:
  glpi:
    container_name: "glpi"
    build:
      context: "containers/glpi"
      args:
        BASE_IMAGE: "ghcr.io/glpi-project/glpi-nightly:10.0-bugfixes"
        HOST_GROUP_ID: "${HOST_GROUP_ID:-1000}"
        HOST_USER_ID: "${HOST_USER_ID:-1000}"
    restart: always
    ports:
      - "8080:80"
    volumes:
      - idmefv2-glpi-config:/var/www/glpi/config
      - idmefv2-glpi-files:/var/www/glpi/files
      - type: "bind"
        source: "./mounts/glpi/run"
        target: "/var/glpi/run"
  db:
    container_name: "glpi_db"
    image: "mariadb:10.4"
    restart: "always"
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: "glpi"
      MYSQL_USER: "glpi"
      MYSQL_PASSWORD: "glpi"
    volumes:
      - idmefv2-glpi-db:/var/lib/mysql
  phpmyadmin:
    container_name: "phpmyadmin"
    image: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      - PMA_ARBITRARY=1

volumes:
  idmefv2-glpi-config:
  idmefv2-glpi-files:
  idmefv2-glpi-db:
