# Path to the cloned idmefv2-connectors repository
IDMEFV2_CONNECTORS_GIT=/some/place/where/you/cloned/github/repository/idmefv2-connectors

# Optional: override the default connector config file
#CONNECTOR_CONFIG_FILE=./containers/tpot-idmefv2/files/tpot-idmefv2.conf

# T-Pot settings
TPOT_REPO=ghcr.io/telekom-security
TPOT_VERSION=24.04.1
TPOT_PULL_POLICY=always
TPOT_DATA_PATH=./data
TPOT_OSTYPE=linux
TPOT_TYPE=HIVE

# T-Pot required env variables
# Generate WEB_USER with: htpasswd -n -b "username" "password" | base64 -w0
# Example below is for test/test
WEB_USER=dGVzdDokYXByMSQ4Z201OUJoaSRVOC9DRDFLWjJhSWRFWTNPeW9oVy8xCgo=
LS_WEB_USER=
TPOT_BLACKHOLE=DISABLED
TPOT_PERSISTENCE=on
TPOT_PERSISTENCE_CYCLES=30
TPOT_ATTACKMAP_TEXT=DISABLED
TPOT_ATTACKMAP_TEXT_TIMEZONE=UTC
